:root {
    font-size: 16px;
    // --neon-text-color: #3e00ff;
    // --neon-text-color: #f40;
    // --neon-border-color: #038dff;
    --link-color: #4ca4be;
    --neon-text-color: #4ca4be;
    --neon-border-color: #4ca4be;
    --base-color: #f8f8f8;
}

// background: linear-gradient(90deg, #6DADE9 0%, #8793E8 100%);
